.mainBox {
    position: absolute;
    top: 12.5%;
    left: 5%;
    background-color: white;
    border: 3px solid #5896B1;
    border-radius: 18px;
    width: 90vw;
    height: 40vw;
}
.aboutUs{
    position: absolute;
    top: 5%;
}
.advice{
    position: absolute;
    top: 45%;
    left: 5%;
    color: #015E86;
    text-align: center;
    font-size: 45px;
    width: 80vw;
}
.starAboutUs{
    position: absolute;
    left: 86%;
    top: 68%;
    width: 13vw;
}