button {
    background-color: rgba(9, 109, 167, 0.50);
    width: 35%;
    color: #fff;
    font-family: serif;
    font-size: 2em;
    padding: 8px 40px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 2px 10px rgba(110, 212, 255, 0.12);
    display: inline-block;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}